<configuration>
	<!-- Defines the format for log entries. -->
	<property name="logEntryFormat"
		value="%-12date{HH:mm:ss.SSS}  %-5level  %-60logger{60} -> %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>${logEntryFormat}</pattern>
		</encoder>
	</appender>

	<logger name="com.dev9.webtest" level="DEBUG" />

    <!-- By default, HTMLUnit will complain about a LOT of CSS rules. Set to
         WARN or disable to see these warnings. -->
    <logger name="com.gargoylesoftware.htmlunit"
            level="OFF" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>